/* static/css/style.css */

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    background: #312118;
}

.header {
    background: #000;
    color: #fff;
    padding: 20px 0;
}

.header-logo h1 {
    margin: 0;
    font-size: 24px;
}

.header-logo span {
    display: block;
    font-size: 14px;
}

.main-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.main-nav ul li {
    margin-left: 20px;
}

.main-nav ul li a {
    color: #ff7f01;
    text-decoration: none;
}

.main-nav ul li a:hover {
    text-decoration: underline;
}

.layout {
    margin: 0 0 0 20px;
}

.card {
    background: #3e2d21;
    color: #fff;
}

img.img-fluid {
    margin-top: 20px;
    margin-left: 0;
}

p {margin: 0 0 0 20px;}

.card-title a {
    color: #ff7f01;
    text-decoration: none;
}

.card-title a:hover {
    text-decoration: underline;
}

.pagination {
    justify-content: center;
    margin-top: 20px;
}

.footer {
    background: #11100f;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

#contact-form {
    margin-bottom: 20px;
}
textarea {
    width: 200px;
    height: 100px;
}
#social-media a {
    color: #ff7f01;
    text-decoration: none;
    margin: 0 10px;
}

#social-media a:hover {
    text-decoration: underline;
}

#copyright {
    margin-top: 20px;
}

.modal-body {
    color: #312118;
}

.button.btn-close {
    color: #312118;
}

h5#messageModalLabel {
    color:#312118;;
}

.btn:not(:disabled):not(.disabled) {
    background-color: #fff;
    color: #312118;
}

img.exerciseimg {
    max-width: 100%;
    width:  -webkit-fill-available;
    height: 200px;
}

.exercise-list {
    list-style: none;
    padding: 0;
}

.exercise-card {
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    position: relative;
}



.description {
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Number of lines to show */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 3em; /* Limit height to two lines */
    line-height: 1.5em;
    margin-bottom: 10px;
}

p {
    padding: 0 0 10px 10px;
}

h1 {
    text-align: center;
    margin: 20px 0;
}



h2 {
    padding: 10px 5px 0 0 ;
}

h3 {
    margin-left: 20px;
}

.comment-btn{
    margin-left: 20px;
    margin-bottom: 10px;
}

.modal-title {
    color: #000;
}


/* Card Media Queries */


.card {
    width: 100%;
}

.send-btn{
    margin-bottom: 10px;
    align-items: center;
}

.submit-btn{
    margin-bottom: 10px;
}




/* Styles for mobile devices */
@media (max-width: 767px) {
    #id_message {
        width: 100%; /* Full width on small screens */
        max-width: 100%; /* No maximum width on small screens */
        height: 100px; /* Reduced height for small screens */
    }
}

/* Optional: Styles for tablets and medium devices */
@media (min-width: 768px) and (max-width: 1024px) {
    #id_message {
        width: 100%;
        max-width: 90%;
        height: 120px;
    }
}