{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %} 
<form method="post" id="contactForm" action="{% url 'contact_form' %}">
    {% csrf_token %}
    <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        {{ form.name }}
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        {{ form.email }}
    </div>
    <div class="mb-3">
        <label for="message" class="form-label">Message</label>
        {{ form.message }}
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock %}
{% block footer %}
<footer class="footer">
<div class="container text-center">
    <p>&copy; 2024 Powercakes. All Rights Reserved.</p>
    <div class="social-links">
        <a href="#">Instagram</a>
        <a href="#">Twitter</a>
        <a href="#">YouTube</a>
    </div>
</div>
</footer>
{% endblock %}

